@model List<Customer>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h3>Customer List</h3>
    <a asp-controller="Home" asp-action="Add">Ekle</a>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Age</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Age</td>
                    <td>
                        <a asp-controller="Home" asp-action="Update" asp-route-id="@item.Id">Güncelle</a>
                        <a asp-controller="Home" asp-action="Remove" asp-route-id="@item.Id">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
